/* Global */
:root {
    /* --text-color: #FAFF00;  */
    --text-color: rgb(231, 231, 231); 
    /* --primary-color: #0A05F1; */
    --primary-color: #000000;
}

@font-face {
    font-family: Standard;
    src: url('./assets/fonts/stan-book.woff') format('woff'),
        url('./assets/fonts/stan-book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Standard;
    src: url('./assets/fonts/stan-bol-it.woff') format('woff'),
        url('./assets/fonts/stan-bol-it.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Standard;
    src: url('./assets/fonts/stan-bol.woff') format('woff'),
        url('./assets/fonts/stan-bol.woff2') format('woff2');
    font-weight: 700;
}

*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Standard', Helvetica, 'sans-serif';
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 25px;
    --webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 4.5rem;
}

p {
    font-size: 2rem;
}

h1, h2, p {
    margin: 2vh 0;
}

a {
    color: var(--text-color)
}

section {
    padding: 5vh 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

/* Header */
header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

header h3 a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
}

/* Main */
/* Intro section */
section:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 20vw;
    border-radius: 50%;
}

main {
    width: 75vw;
    margin: 5vh auto;
}

/* Project section */
p span {
    font-style: italic;
    font-size: 1.5rem;
}

#projects p {
    display: flex;
    justify-content: space-between;
}

#projects a {
    text-decoration: none;
}

#projects p a:hover {
    text-decoration: underline;
}

.flex-proj-head img {
    border-radius: 10px;
    max-height: 50vh;
    min-height: 50vh;
    width: auto;
}

.flex-proj-head div:nth-child(2) {
    align-self: center;
}

/* FizzBuzz */
.ital {
    font-style: italic;
    font-size: unset;
}

#fb-result {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

form input {
    width: 25%;
    padding: 2vh 2vw;
    font-size: 2rem;
    color: var(--text-color);
    background-color: var(--primary-color)
}

form input {
    margin: 0 2vw;
}

button {
    font-family: 'Standard', Helvetica, 'sans-serif';
    height: 5vh;
    width: 25%;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 1vh 1vw;
    margin: 1vh 0;
    align-self: center;
}

/* Palindrome */
#palin-result {
    text-align: center;
    font-size: 2rem;
}

/* Media queries */
@media (max-width: 1000px){
    ul {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #projects p {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    header {
        padding: 2vh 2vw;
        flex-direction: column;
    }

    header nav {
        width: 90%;
    }

    section:first-child img {
        display: none;
    }
}